/* ::::: https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400italic,400,600 ::::: */

@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 300;
	src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url('toadocfmlt9b38dhjxobgcd5k6t8i4oz1x3xvlj_uep3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 300;
	src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url('toadocfmlt9b38dhjxobgdofnjnygikrhcic8bwzbcz3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 300;
	src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url('toadocfmlt9b38dhjxobgcp2lek6lmzysrqr3dhfima.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url('odeli1ahbydbqgeiah2zlcxe5tewm2_xwfbgchcxw4g.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url('odeli1ahbydbqgeiah2zlia1ydtoarzwsxxthggexmw.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url('odeli1ahbydbqgeiah2zljbpfduiytolzwst68uhz_y.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 600;
	src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url('toadocfmlt9b38dhjxobgmzxfz2idkd7gjnsaxryisj3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 600;
	src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url('toadocfmlt9b38dhjxobgkygjhah-re0bxgcd_izyev3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 600;
	src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url('toadocfmlt9b38dhjxobgmzfoxz-kj537nb_-9jjhla.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: italic;
	font-weight: 300;
	src: local("Source Sans Pro Light Italic"), local("SourceSansPro-LightIt"), url('fptvhk8qsxbiethtrnqh6b_gmbeoutnfvlocz03jxzuu24fapfjwyacj6xnu5rm9.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: italic;
	font-weight: 300;
	src: local("Source Sans Pro Light Italic"), local("SourceSansPro-LightIt"), url('fptvhk8qsxbiethtrnqh6i592llb3spcld5cozjzxycu24fapfjwyacj6xnu5rm9.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: italic;
	font-weight: 300;
	src: local("Source Sans Pro Light Italic"), local("SourceSansPro-LightIt"), url('fptvhk8qsxbiethtrnqh6kwfmypltwmizxvesxmi2bp3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: italic;
	font-weight: 400;
	src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url('m2jd71opjhlkp0zdttvom-hx0s8ecziz6z1k6lzjtlo.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: italic;
	font-weight: 400;
	src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url('m2jd71opjhlkp0zdttvomyvjdpjoaxweyjfcet2nd1s.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: italic;
	font-weight: 400;
	src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url('m2jd71opjhlkp0zdttvom2sl3jwj3d9poyjpmfasioc.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* ::::: http://docs.pivotal.io/stylesheets/all.css ::::: */

.fa, .btn-menu::before, .search-icon::before, .header-dropdown-link::after, .sidenav-title::after, .nav-content .has_submenu::before, .content a[href^="http"]::after, .external-link::after, .note::before, .tip::before, .to-top a::before { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; font-feature-settings: normal; font-language-override: normal; font-kerning: auto; font-synthesis: weight style; font-variant: normal; font-size: inherit; text-rendering: auto; -moz-osx-font-smoothing: grayscale; }
@font-face {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	src: url('fontawesome-webfont_002.eot') format("embedded-opentype"), url('fontawesome-webfont_001.woff2') format("woff2"), url('fontawesome-webfont_002.woff') format("woff"), url('fontawesome-webfont_002.ttf') format("truetype"), url('fontawesome-webfont_002.svg') format("svg");
}
html { font-family: sans-serif; }
audio:not([controls]) { display: none; height: 0px; }
a { background: transparent none repeat scroll 0% 0%; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: bold; }
h1 { font-size: 2em; margin: 0.67em 0px; }
svg:not(:root) { overflow: hidden; }
code, kbd, pre, samp, .filepath { font-family: monospace,monospace; font-size: 1em; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
table { border-collapse: collapse; border-spacing: 0px; }
td, th { padding: 0.3em 0.5em; }
* {  }
html { font-size: 1em; }
body { background-color: rgb(255, 255, 255); font-family: "Source Sans Pro",sans-serif; font-weight: 400; line-height: 1.45; color: rgb(51, 51, 51); margin: 0px; padding: 0px; }
p { margin-bottom: 1.3em; }
a, .link { border-bottom: 1px dotted rgb(205, 220, 229); color: rgb(33, 133, 197); text-decoration: none; transition: all 0.1s linear 0s; }
img { height: auto; max-width: 100%; }
h1, h2, h3, h4, h5, h6 { margin: 60px 0px 0.5em; font-weight: inherit; line-height: 1.2; }
h1, .h1 { margin-top: 0px; font-size: 2.441em; }
ul, ol { margin: 0px 0px 1em; }
ul { padding: 0px 0px 0px 1.2em; }
ul ul, ol ol { margin-top: 1em; padding-bottom: 0px; }
ul li { margin: 0px 0px 0.5em; padding: 0px; }
li li { margin-bottom: 0px; }
input { background-color: rgb(241, 241, 241); border: 1px solid rgb(236, 234, 233); border-radius: 3px; box-shadow: 1px 1px 4px -2px rgb(236, 234, 233) inset; color: rgb(66, 66, 66); display: block; padding: 0.5em 1em; transition: all 0.1s linear 0s; width: 100%; }
input:hover { border-color: rgba(2, 70, 64, 0.5); background-color: rgb(255, 255, 255); }
input:focus { background-color: rgb(255, 255, 255); border-color: rgb(3, 120, 109); box-shadow: 0px 0px 4px rgb(236, 234, 233); outline: 0px none; }
table { border-color: rgb(181, 181, 181); border-collapse: collapse; border-style: solid; border-width: 1px; color: rgb(51, 51, 51); font-size: 1em; margin-top: 1em; padding: 0.8em 0.7rem; width: 100%; }
th { background-color: rgb(248, 248, 248); border-color: rgb(181, 181, 181); color: rgb(75, 100, 117); line-height: 1.1; font-size: 1em; text-align: left; }
tr { color: rgb(104, 104, 104); }
.content td, .content th, .content tr { border: 1px solid grey; }
.content tr:hover { background-color: rgb(253, 253, 253); color: rgb(51, 51, 51); }
code { background-color: rgb(245, 245, 255); border: 1px solid rgb(228, 228, 228); display: inline-block; font-size: 0.8125rem; line-height: 1.4; margin: 0.2em 0.1em 0.1em; padding: 0px 0.4em; vertical-align: text-top; }
.header { background: rgb(36, 54, 64) none repeat scroll 0% 0%; border-bottom: 3px solid rgb(0, 167, 157); color: rgb(254, 254, 254); min-height: 2.375em; padding: 0.3125em 1em; }
.header::after { content: ""; display: table; clear: both; }
.header a { color: rgb(255, 255, 255); display: inline-block; }
.btn-menu { float: right; position: relative; right: -1em; padding: 0px 1em; }
.btn-menu::before { content: ""; padding-right: 0.4em; padding-top: 0.4em; }
.btn-menu:hover { cursor: pointer; }
.menu-active .btn-menu::before { content: ""; transform: rotate(45deg); }
.header-item { clear: both; display: none; font-weight: bold; transition: opacity 0s ease 0s; font-size: 0.8em; line-height: 1; }
.header-item a { border-bottom: 1px dotted rgb(104, 104, 104); border-style: dotted; border-width: 0px 0px 1px; color: rgb(255, 255, 255); display: block; padding: 0.5em 0px; }
.search-icon::before { content: ""; color: rgb(199, 199, 199); }
.header-dropdown { border-radius: 0.5em; float: left; font-size: 0.9em; font-weight: bold; line-height: 1.5625rem; margin-left: 0.5em; margin-top: 0.04em; position: relative; }
.header-dropdown:hover .header-dropdown-content { display: block; }
.header-dropdown-link { border: 0px none; display: block; line-height: 1.4; padding: 0px 0.5em; }
.header-dropdown-link::after { color: rgb(75, 100, 117); content: ""; font-size: 0.8em; padding-left: 0.2em; }
.header-dropdown:hover { border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; }
.header-dropdown-content { background: rgb(253, 253, 253) none repeat scroll 0% 0%; box-shadow: 2px 1px 5px rgba(153, 153, 153, 0.2); border: 1px solid rgb(236, 234, 233); display: none; left: -0.875rem; min-width: 6.25em; padding: 0.5em; position: absolute; top: 100%; z-index: 11; }
.header-dropdown-content a { border: 0px none; color: rgb(66, 66, 66); display: block; padding-left: 0.9em; }
.header-dropdown-content a:hover { background-color: rgb(0, 167, 157); color: rgb(255, 255, 255); }
.header-dropdown-content ol, .header-dropdown-content ul { list-style: outside none none; margin: 0px; padding: 0px; }
.header-dropdown-content li { display: block; margin: 0px; }
.embedded-searchbar { margin-right: 0.5em; }
.site-footer-links { font-size: 0.8em; clear: both; padding: 1em 30px 4em; }
.site-footer-links a { color: rgb(66, 66, 66); }
#repo-link { display: block; border-bottom: 1px solid rgb(236, 234, 233); border-top: 1px solid rgb(236, 234, 233); text-align: center; padding: 1em 0px; font-weight: bold; }
.search-results .pagination .page.first::before { content: ""; font-family: FontAwesome; font-size: 12px; padding-right: 4px; }
.search-results .pagination .page.previous::before { content: ""; font-family: FontAwesome; font-size: 12px; padding-right: 4px; }
.search-results .pagination .page.next::after { content: ""; font-family: FontAwesome; font-size: 12px; padding-left: 4px; }
.search-results .pagination .page.last::after { content: ""; font-family: FontAwesome; font-size: 12px; padding-left: 4px; }
.sidenav-title { border: 0px none; color: rgb(66, 66, 66); display: block; padding: 1em; text-align: center; text-transform: uppercase; }
.sidenav-title::after { content: ""; padding-left: 1.5em; }
.sidenav-title:hover, .active .sidenav-title { background-color: rgb(0, 167, 157); color: rgb(255, 255, 255); cursor: pointer; }
.active .sidenav-title::after { content: ""; }
.nav-container { background: rgb(248, 248, 248) none repeat scroll 0% 0%; }
.nav-content { height: 0px; opacity: 0; transition: all 0.2s linear 0s; overflow: hidden; padding-left: 1em; }
.nav-content ul, .nav-content ol { clear: both; display: block; margin: 0.5em 0px; padding: 0px; }
.nav-content li { display: block; margin: 0px; overflow: hidden; padding: 0px; }
.nav-content a, .nav-content span { border-width: 1px 0px 1px 1px; border-style: solid; border-color: transparent; color: rgb(104, 104, 104); font-size: 0.9rem; display: block; float: left; padding: 0.75em 30px 0.75em 2em; text-decoration: none; width: 100%; }
.nav-content a:hover, .nav-content a:focus, .nav-content a:active { border-color: rgb(238, 238, 238); background-color: rgb(255, 255, 255); color: rgb(66, 66, 66); }
.nav-content .active, .nav-content .active:hover, .nav-content .active:focus { background-color: rgba(0, 167, 157, 0.2); border-style: solid; color: rgb(66, 66, 66); font-weight: 600; }
.nav-content .has_submenu { cursor: pointer; }
.nav-content .has_submenu::before { content: ""; float: left; width: 1rem; margin-top: 1em; display: inline-block; font-style: normal; font-weight: normal; line-height: 1; }
.nav-content .has_submenu > a, .nav-content .has_submenu > span { margin-left: 1em; float: none; width: inherit; padding-left: 1em; }
.nav-content .has_submenu > ul { display: none; }
.nav-content .has_submenu li { padding-left: 1em; }
.nav-content .has_submenu.expanded::before { content: ""; }
.nav-content .has_submenu.expanded > ul { display: block; }
.container { background: rgb(255, 255, 255) none repeat scroll 0% 0%; clear: both; margin: 0px auto; max-width: 1024px; }
.content-layout { padding: 2em 1.5em; }
.has-subnav .container {  }
.has-sidenav table tr:nth-child(2n+1) { background: transparent none repeat scroll 0% 0%; }
.has-sidenav .content tr:nth-child(2n+1) { background-color: rgb(248, 248, 248); }
.title-container { line-height: 1.1; font-weight: 600; font-size: 1.953em; margin-top: 0px; }
.quick-links > ul::before { content: "In this topic:"; display: block; padding-bottom: 0.25em; }
.content a[href^="http"]::after, .external-link::after { content: ""; font-size: 0.75em; padding-left: 0.5em; }
.content a:hover, .content a:focus, .content a:active, .link:hover, .link:focus, .link:active { background-color: rgba(0, 167, 157, 0.08); border-bottom-style: solid; }
.note { background: rgb(255, 255, 237) none repeat scroll 0% 0%; border-color: rgb(235, 235, 211); border-radius: 3px; border-style: solid; border-width: 1px; margin: 1em 0px; padding: 0.7em 1em 0.7em 2.3em; position: relative; }
.note::before { content: ""; color: rgb(185, 183, 129); font-size: 1.5em; left: 0.6em; position: absolute; top: 0.45em; }
.note.warning::before { color: rgb(255, 153, 153); }
.tip::before { color: rgb(124, 124, 124); font-size: 1.953em; left: 0.5em; position: absolute; top: 0.8em; }
.to-top { visibility: hidden; opacity: 0; transition: all 0.2s linear 0s; }
.to-top a { border: 0px none; bottom: 4em; position: fixed; right: 4em; z-index: 10; }
.to-top a:hover { background: transparent none repeat scroll 0% 0%; }
.to-top a::before { content: ""; background: rgb(0, 167, 157) none repeat scroll 0% 0%; box-shadow: 0px 0px 9px rgba(153, 153, 153, 0.8); color: rgb(255, 255, 255); line-height: 2.5em; height: 2.5em; text-align: center; width: 2.5em; }
header.global-header { background-color: rgb(35, 43, 47); line-height: 64px; padding: 0px; border: medium none; }
header.global-header > a, header.global-header .header-item { font-size: 18px; vertical-align: top; }
header.global-header .pivotal-logo { background-image: url('icon-p-green.jpg'); background-repeat: no-repeat; background-position: left center; background-size: 100% auto; height: 64px; width: 64px; }
header.global-header .global-header-title { padding-left: 10px; font-weight: bold; }
header.global-header .header-item { padding: 0px 0px 0px 10px; }
header.global-header .header-item::after { content: ""; }
header.global-header .header-links a { font-weight: normal; }
header.global-header a { border: medium none; }
header.global-header .embedded-searchbar { vertical-align: middle; margin-bottom: 5px; }
header.global-header .btn-menu::before { font-size: 1.563em; }
header.partners-global-header .header-item::after { content: ""; }
header.partners-global-header .btn-menu::before { font-size: 1.563em; }
.local-header.local-title { font-weight: 200; padding: 10px 0px; font-size: 31px; }
.local-header.local-title img { height: 26px; }
.local-header.title-container { border-bottom: 1px solid rgb(236, 234, 233); padding: 20px 0px; margin-bottom: 30px; font-weight: normal; }
.local-header.title-container a { border-bottom: medium none; padding: 0px 5px; }
.local-header.title-container .local-header.local-header-links { font-size: 14px; }
.local-header.title-container .local-header.local-header-links a::after { content: ""; }
.local-header.title-container .local-header.version-info { color: grey; font-size: 14px; }
.local-header.title-container .local-header.version-info a::after { content: ""; }
.local-header.local-version { font-size: 16px; margin-left: 15px; }
.local-header.local-version a { color: rgb(66, 66, 66); font-weight: normal; display: inline-block; }
.local-header.local-version a:hover { background-color: rgb(248, 248, 248); border-bottom: medium none; }
.local-header.header-dropdown { float: none; }
.local-header.local-title .local-version.header-dropdown .local-header.header-dropdown-content { left: 0px; float: none; padding: 0px; background-color: rgb(245, 246, 247); border: medium none; box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176); }
.local-header.local-title .local-version.header-dropdown .local-header.header-dropdown-content li { padding: 5px; font-weight: normal; margin: 0px; }
.local-header.local-title .local-version.header-dropdown .local-header.header-dropdown-content li:hover { background-color: rgb(211, 213, 215); border-bottom: medium none; }
.local-header.local-title .local-version.header-dropdown .local-header.header-dropdown-content a:link:hover { background-color: rgb(211, 213, 215); width: 100%; z-index: 100; }
.local-header.local-search td.gsc-input::before { font-family: FontAwesome; content: ""; display: block; position: absolute; right: 20px; top: 6px; }
.local-header.local-search .local-header-search-form::before { font-family: FontAwesome; content: ""; display: block; position: absolute; right: 10px; top: 10px; font-size: 16px; color: rgb(150, 150, 150); }
* { box-sizing: border-box; }
.panels::after { content: ""; display: table; clear: both; }
.panel a[href^="http"]::after { display: none; }
.title-deemph { font-weight: 300; }
.list-steps > li::before { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 2px solid rgb(236, 234, 233); border-radius: 100%; color: rgb(181, 181, 181); font-weight: 600; content: counter(list-steps, decimal); counter-increment: list-steps; float: left; font-size: 1.2em; margin-right: 0.3em; height: 3rem; left: -1.3em; line-height: 3rem; padding: 0px; position: absolute; text-align: center; top: 0px; width: 3rem; }
.note.warning::before { color: rgb(255, 153, 153); }
