/* ::::: https://pcf-opsman-oph7lhgru7et4.japaneast.cloudapp.azure.com/uaa/vendor/font-awesome/css/font-awesome.min.css ::::: */

@font-face {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	src: url('fontawesome-webfont_001.eot') format("embedded-opentype"), url('fontawesome-webfont_001.woff') format("woff"), url('fontawesome-webfont_001.ttf') format("truetype"), url('fontawesome-webfont_001.svg') format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -moz-osx-font-smoothing: grayscale; }
.fa-glass::before { content: ""; }
.fa-music::before { content: ""; }
.fa-search::before { content: ""; }
.fa-envelope-o::before { content: ""; }
.fa-heart::before { content: ""; }
.fa-star::before { content: ""; }
.fa-star-o::before { content: ""; }
.fa-user::before { content: ""; }
.fa-film::before { content: ""; }
.fa-th-large::before { content: ""; }
.fa-th::before { content: ""; }
.fa-th-list::before { content: ""; }
.fa-check::before { content: ""; }
.fa-times::before { content: ""; }
.fa-search-plus::before { content: ""; }
.fa-search-minus::before { content: ""; }
.fa-power-off::before { content: ""; }
.fa-signal::before { content: ""; }
.fa-gear::before, .fa-cog::before { content: ""; }
.fa-trash-o::before { content: ""; }
.fa-home::before { content: ""; }
.fa-file-o::before { content: ""; }
.fa-clock-o::before { content: ""; }
.fa-road::before { content: ""; }
.fa-download::before { content: ""; }
.fa-arrow-circle-o-down::before { content: ""; }
.fa-arrow-circle-o-up::before { content: ""; }
.fa-inbox::before { content: ""; }
.fa-play-circle-o::before { content: ""; }
.fa-rotate-right::before, .fa-repeat::before { content: ""; }
.fa-refresh::before { content: ""; }
.fa-list-alt::before { content: ""; }
.fa-lock::before { content: ""; }
.fa-flag::before { content: ""; }
.fa-headphones::before { content: ""; }
.fa-volume-off::before { content: ""; }
.fa-volume-down::before { content: ""; }
.fa-volume-up::before { content: ""; }
.fa-qrcode::before { content: ""; }
.fa-barcode::before { content: ""; }
.fa-tag::before { content: ""; }
.fa-tags::before { content: ""; }
.fa-book::before { content: ""; }
.fa-bookmark::before { content: ""; }
.fa-print::before { content: ""; }
.fa-camera::before { content: ""; }
.fa-font::before { content: ""; }
.fa-bold::before { content: ""; }
.fa-italic::before { content: ""; }
.fa-text-height::before { content: ""; }
.fa-text-width::before { content: ""; }
.fa-align-left::before { content: ""; }
.fa-align-center::before { content: ""; }
.fa-align-right::before { content: ""; }
.fa-align-justify::before { content: ""; }
.fa-list::before { content: ""; }
.fa-dedent::before, .fa-outdent::before { content: ""; }
.fa-indent::before { content: ""; }
.fa-video-camera::before { content: ""; }
.fa-picture-o::before { content: ""; }
.fa-pencil::before { content: ""; }
.fa-map-marker::before { content: ""; }
.fa-adjust::before { content: ""; }
.fa-tint::before { content: ""; }
.fa-edit::before, .fa-pencil-square-o::before { content: ""; }
.fa-share-square-o::before { content: ""; }
.fa-check-square-o::before { content: ""; }
.fa-arrows::before { content: ""; }
.fa-step-backward::before { content: ""; }
.fa-fast-backward::before { content: ""; }
.fa-backward::before { content: ""; }
.fa-play::before { content: ""; }
.fa-pause::before { content: ""; }
.fa-stop::before { content: ""; }
.fa-forward::before { content: ""; }
.fa-fast-forward::before { content: ""; }
.fa-step-forward::before { content: ""; }
.fa-eject::before { content: ""; }
.fa-chevron-left::before { content: ""; }
.fa-chevron-right::before { content: ""; }
.fa-plus-circle::before { content: ""; }
.fa-minus-circle::before { content: ""; }
.fa-times-circle::before { content: ""; }
.fa-check-circle::before { content: ""; }
.fa-question-circle::before { content: ""; }
.fa-info-circle::before { content: ""; }
.fa-crosshairs::before { content: ""; }
.fa-times-circle-o::before { content: ""; }
.fa-check-circle-o::before { content: ""; }
.fa-ban::before { content: ""; }
.fa-arrow-left::before { content: ""; }
.fa-arrow-right::before { content: ""; }
.fa-arrow-up::before { content: ""; }
.fa-arrow-down::before { content: ""; }
.fa-mail-forward::before, .fa-share::before { content: ""; }
.fa-expand::before { content: ""; }
.fa-compress::before { content: ""; }
.fa-plus::before { content: ""; }
.fa-minus::before { content: ""; }
.fa-asterisk::before { content: ""; }
.fa-exclamation-circle::before { content: ""; }
.fa-gift::before { content: ""; }
.fa-leaf::before { content: ""; }
.fa-fire::before { content: ""; }
.fa-eye::before { content: ""; }
.fa-eye-slash::before { content: ""; }
.fa-warning::before, .fa-exclamation-triangle::before { content: ""; }
.fa-plane::before { content: ""; }
.fa-calendar::before { content: ""; }
.fa-random::before { content: ""; }
.fa-comment::before { content: ""; }
.fa-magnet::before { content: ""; }
.fa-chevron-up::before { content: ""; }
.fa-chevron-down::before { content: ""; }
.fa-retweet::before { content: ""; }
.fa-shopping-cart::before { content: ""; }
.fa-folder::before { content: ""; }
.fa-folder-open::before { content: ""; }
.fa-arrows-v::before { content: ""; }
.fa-arrows-h::before { content: ""; }
.fa-bar-chart-o::before { content: ""; }
.fa-twitter-square::before { content: ""; }
.fa-facebook-square::before { content: ""; }
.fa-camera-retro::before { content: ""; }
.fa-key::before { content: ""; }
.fa-gears::before, .fa-cogs::before { content: ""; }
.fa-comments::before { content: ""; }
.fa-thumbs-o-up::before { content: ""; }
.fa-thumbs-o-down::before { content: ""; }
.fa-star-half::before { content: ""; }
.fa-heart-o::before { content: ""; }
.fa-sign-out::before { content: ""; }
.fa-linkedin-square::before { content: ""; }
.fa-thumb-tack::before { content: ""; }
.fa-external-link::before { content: ""; }
.fa-sign-in::before { content: ""; }
.fa-trophy::before { content: ""; }
.fa-github-square::before { content: ""; }
.fa-upload::before { content: ""; }
.fa-lemon-o::before { content: ""; }
.fa-phone::before { content: ""; }
.fa-square-o::before { content: ""; }
.fa-bookmark-o::before { content: ""; }
.fa-phone-square::before { content: ""; }
.fa-twitter::before { content: ""; }
.fa-facebook::before { content: ""; }
.fa-github::before { content: ""; }
.fa-unlock::before { content: ""; }
.fa-credit-card::before { content: ""; }
.fa-rss::before { content: ""; }
.fa-hdd-o::before { content: ""; }
.fa-bullhorn::before { content: ""; }
.fa-bell::before { content: ""; }
.fa-certificate::before { content: ""; }
.fa-hand-o-right::before { content: ""; }
.fa-hand-o-left::before { content: ""; }
.fa-hand-o-up::before { content: ""; }
.fa-hand-o-down::before { content: ""; }
.fa-arrow-circle-left::before { content: ""; }
.fa-arrow-circle-right::before { content: ""; }
.fa-arrow-circle-up::before { content: ""; }
.fa-arrow-circle-down::before { content: ""; }
.fa-globe::before { content: ""; }
.fa-wrench::before { content: ""; }
.fa-tasks::before { content: ""; }
.fa-filter::before { content: ""; }
.fa-briefcase::before { content: ""; }
.fa-arrows-alt::before { content: ""; }
.fa-group::before, .fa-users::before { content: ""; }
.fa-chain::before, .fa-link::before { content: ""; }
.fa-cloud::before { content: ""; }
.fa-flask::before { content: ""; }
.fa-cut::before, .fa-scissors::before { content: ""; }
.fa-copy::before, .fa-files-o::before { content: ""; }
.fa-paperclip::before { content: ""; }
.fa-save::before, .fa-floppy-o::before { content: ""; }
.fa-square::before { content: ""; }
.fa-bars::before { content: ""; }
.fa-list-ul::before { content: ""; }
.fa-list-ol::before { content: ""; }
.fa-strikethrough::before { content: ""; }
.fa-underline::before { content: ""; }
.fa-table::before { content: ""; }
.fa-magic::before { content: ""; }
.fa-truck::before { content: ""; }
.fa-pinterest::before { content: ""; }
.fa-pinterest-square::before { content: ""; }
.fa-google-plus-square::before { content: ""; }
.fa-google-plus::before { content: ""; }
.fa-money::before { content: ""; }
.fa-caret-down::before { content: ""; }
.fa-caret-up::before { content: ""; }
.fa-caret-left::before { content: ""; }
.fa-caret-right::before { content: ""; }
.fa-columns::before { content: ""; }
.fa-unsorted::before, .fa-sort::before { content: ""; }
.fa-sort-down::before, .fa-sort-asc::before { content: ""; }
.fa-sort-up::before, .fa-sort-desc::before { content: ""; }
.fa-envelope::before { content: ""; }
.fa-linkedin::before { content: ""; }
.fa-rotate-left::before, .fa-undo::before { content: ""; }
.fa-legal::before, .fa-gavel::before { content: ""; }
.fa-dashboard::before, .fa-tachometer::before { content: ""; }
.fa-comment-o::before { content: ""; }
.fa-comments-o::before { content: ""; }
.fa-flash::before, .fa-bolt::before { content: ""; }
.fa-sitemap::before { content: ""; }
.fa-umbrella::before { content: ""; }
.fa-paste::before, .fa-clipboard::before { content: ""; }
.fa-lightbulb-o::before { content: ""; }
.fa-exchange::before { content: ""; }
.fa-cloud-download::before { content: ""; }
.fa-cloud-upload::before { content: ""; }
.fa-user-md::before { content: ""; }
.fa-stethoscope::before { content: ""; }
.fa-suitcase::before { content: ""; }
.fa-bell-o::before { content: ""; }
.fa-coffee::before { content: ""; }
.fa-cutlery::before { content: ""; }
.fa-file-text-o::before { content: ""; }
.fa-building-o::before { content: ""; }
.fa-hospital-o::before { content: ""; }
.fa-ambulance::before { content: ""; }
.fa-medkit::before { content: ""; }
.fa-fighter-jet::before { content: ""; }
.fa-beer::before { content: ""; }
.fa-h-square::before { content: ""; }
.fa-plus-square::before { content: ""; }
.fa-angle-double-left::before { content: ""; }
.fa-angle-double-right::before { content: ""; }
.fa-angle-double-up::before { content: ""; }
.fa-angle-double-down::before { content: ""; }
.fa-angle-left::before { content: ""; }
.fa-angle-right::before { content: ""; }
.fa-angle-up::before { content: ""; }
.fa-angle-down::before { content: ""; }
.fa-desktop::before { content: ""; }
.fa-laptop::before { content: ""; }
.fa-tablet::before { content: ""; }
.fa-mobile-phone::before, .fa-mobile::before { content: ""; }
.fa-circle-o::before { content: ""; }
.fa-quote-left::before { content: ""; }
.fa-quote-right::before { content: ""; }
.fa-spinner::before { content: ""; }
.fa-circle::before { content: ""; }
.fa-mail-reply::before, .fa-reply::before { content: ""; }
.fa-github-alt::before { content: ""; }
.fa-folder-o::before { content: ""; }
.fa-folder-open-o::before { content: ""; }
.fa-smile-o::before { content: ""; }
.fa-frown-o::before { content: ""; }
.fa-meh-o::before { content: ""; }
.fa-gamepad::before { content: ""; }
.fa-keyboard-o::before { content: ""; }
.fa-flag-o::before { content: ""; }
.fa-flag-checkered::before { content: ""; }
.fa-terminal::before { content: ""; }
.fa-code::before { content: ""; }
.fa-reply-all::before { content: ""; }
.fa-mail-reply-all::before { content: ""; }
.fa-star-half-empty::before, .fa-star-half-full::before, .fa-star-half-o::before { content: ""; }
.fa-location-arrow::before { content: ""; }
.fa-crop::before { content: ""; }
.fa-code-fork::before { content: ""; }
.fa-unlink::before, .fa-chain-broken::before { content: ""; }
.fa-question::before { content: ""; }
.fa-info::before { content: ""; }
.fa-exclamation::before { content: ""; }
.fa-superscript::before { content: ""; }
.fa-subscript::before { content: ""; }
.fa-eraser::before { content: ""; }
.fa-puzzle-piece::before { content: ""; }
.fa-microphone::before { content: ""; }
.fa-microphone-slash::before { content: ""; }
.fa-shield::before { content: ""; }
.fa-calendar-o::before { content: ""; }
.fa-fire-extinguisher::before { content: ""; }
.fa-rocket::before { content: ""; }
.fa-maxcdn::before { content: ""; }
.fa-chevron-circle-left::before { content: ""; }
.fa-chevron-circle-right::before { content: ""; }
.fa-chevron-circle-up::before { content: ""; }
.fa-chevron-circle-down::before { content: ""; }
.fa-html5::before { content: ""; }
.fa-css3::before { content: ""; }
.fa-anchor::before { content: ""; }
.fa-unlock-alt::before { content: ""; }
.fa-bullseye::before { content: ""; }
.fa-ellipsis-h::before { content: ""; }
.fa-ellipsis-v::before { content: ""; }
.fa-rss-square::before { content: ""; }
.fa-play-circle::before { content: ""; }
.fa-ticket::before { content: ""; }
.fa-minus-square::before { content: ""; }
.fa-minus-square-o::before { content: ""; }
.fa-level-up::before { content: ""; }
.fa-level-down::before { content: ""; }
.fa-check-square::before { content: ""; }
.fa-pencil-square::before { content: ""; }
.fa-external-link-square::before { content: ""; }
.fa-share-square::before { content: ""; }
.fa-compass::before { content: ""; }
.fa-toggle-down::before, .fa-caret-square-o-down::before { content: ""; }
.fa-toggle-up::before, .fa-caret-square-o-up::before { content: ""; }
.fa-toggle-right::before, .fa-caret-square-o-right::before { content: ""; }
.fa-euro::before, .fa-eur::before { content: ""; }
.fa-gbp::before { content: ""; }
.fa-dollar::before, .fa-usd::before { content: ""; }
.fa-rupee::before, .fa-inr::before { content: ""; }
.fa-cny::before, .fa-rmb::before, .fa-yen::before, .fa-jpy::before { content: ""; }
.fa-ruble::before, .fa-rouble::before, .fa-rub::before { content: ""; }
.fa-won::before, .fa-krw::before { content: ""; }
.fa-bitcoin::before, .fa-btc::before { content: ""; }
.fa-file::before { content: ""; }
.fa-file-text::before { content: ""; }
.fa-sort-alpha-asc::before { content: ""; }
.fa-sort-alpha-desc::before { content: ""; }
.fa-sort-amount-asc::before { content: ""; }
.fa-sort-amount-desc::before { content: ""; }
.fa-sort-numeric-asc::before { content: ""; }
.fa-sort-numeric-desc::before { content: ""; }
.fa-thumbs-up::before { content: ""; }
.fa-thumbs-down::before { content: ""; }
.fa-youtube-square::before { content: ""; }
.fa-youtube::before { content: ""; }
.fa-xing::before { content: ""; }
.fa-xing-square::before { content: ""; }
.fa-youtube-play::before { content: ""; }
.fa-dropbox::before { content: ""; }
.fa-stack-overflow::before { content: ""; }
.fa-instagram::before { content: ""; }
.fa-flickr::before { content: ""; }
.fa-adn::before { content: ""; }
.fa-bitbucket::before { content: ""; }
.fa-bitbucket-square::before { content: ""; }
.fa-tumblr::before { content: ""; }
.fa-tumblr-square::before { content: ""; }
.fa-long-arrow-down::before { content: ""; }
.fa-long-arrow-up::before { content: ""; }
.fa-long-arrow-left::before { content: ""; }
.fa-long-arrow-right::before { content: ""; }
.fa-apple::before { content: ""; }
.fa-windows::before { content: ""; }
.fa-android::before { content: ""; }
.fa-linux::before { content: ""; }
.fa-dribbble::before { content: ""; }
.fa-skype::before { content: ""; }
.fa-foursquare::before { content: ""; }
.fa-trello::before { content: ""; }
.fa-female::before { content: ""; }
.fa-male::before { content: ""; }
.fa-gittip::before { content: ""; }
.fa-sun-o::before { content: ""; }
.fa-moon-o::before { content: ""; }
.fa-archive::before { content: ""; }
.fa-bug::before { content: ""; }
.fa-vk::before { content: ""; }
.fa-weibo::before { content: ""; }
.fa-renren::before { content: ""; }
.fa-pagelines::before { content: ""; }
.fa-stack-exchange::before { content: ""; }
.fa-arrow-circle-o-right::before { content: ""; }
.fa-arrow-circle-o-left::before { content: ""; }
.fa-toggle-left::before, .fa-caret-square-o-left::before { content: ""; }
.fa-dot-circle-o::before { content: ""; }
.fa-wheelchair::before { content: ""; }
.fa-vimeo-square::before { content: ""; }
.fa-turkish-lira::before, .fa-try::before { content: ""; }
.fa-plus-square-o::before { content: ""; }
/* ::::: https://pcf-opsman-oph7lhgru7et4.japaneast.cloudapp.azure.com/uaa/resources/oss/stylesheets/application.css ::::: */

/* ::::: https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700 ::::: */

@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 300;
	src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url('toadocfmlt9b38dhjxobgcd5k6t8i4oz1x3xvlj_uep3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 300;
	src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url('toadocfmlt9b38dhjxobgdofnjnygikrhcic8bwzbcz3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 300;
	src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url('toadocfmlt9b38dhjxobgcp2lek6lmzysrqr3dhfima.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url('odeli1ahbydbqgeiah2zlcxe5tewm2_xwfbgchcxw4g.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url('odeli1ahbydbqgeiah2zlia1ydtoarzwsxxthggexmw.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url('odeli1ahbydbqgeiah2zljbpfduiytolzwst68uhz_y.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 600;
	src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url('toadocfmlt9b38dhjxobgmzxfz2idkd7gjnsaxryisj3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 600;
	src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url('toadocfmlt9b38dhjxobgkygjhah-re0bxgcd_izyev3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 600;
	src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url('toadocfmlt9b38dhjxobgmzfoxz-kj537nb_-9jjhla.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 700;
	src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url('toadocfmlt9b38dhjxobgmms7uhsibjuxejqiwog-i_3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 700;
	src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url('toadocfmlt9b38dhjxobgo4s1ux4puimwpk5fsr6hpl3rgvtstkpsbdajuo5ueqw.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 700;
	src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url('toadocfmlt9b38dhjxobgjkf8h8ye47wsfpwywda8og.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
audio:not([controls]) { display: none; height: 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a { background: transparent none repeat scroll 0% 0%; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
svg:not(:root) { overflow: hidden; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
*, *::before, *::after { box-sizing: border-box; }
html { font-size: 62.5%; }
body { font-family: "Source Sans Pro",sans-serif; font-size: 15px; line-height: 1.5; color: rgb(93, 110, 115); background-color: transparent; }
a { color: rgb(73, 168, 213); text-decoration: none; }
a:hover, a:focus { color: rgb(39, 128, 170); text-decoration: underline; }
a:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
p { margin: 0px 0px 11px; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: "Source Sans Pro",sans-serif; font-weight: 400; line-height: 1.5; color: rgb(52, 146, 138); }
h1, h2, h3 { margin-top: 22px; margin-bottom: 11px; }
h1, .h1 { font-size: 20px; }
h2, .h2 { font-size: 22px; }
ul, ol { margin-top: 0px; margin-bottom: 11px; }
blockquote small::before { content: "— "; }
blockquote.pull-right small::before, blockquote.pull-right .small::before { content: ""; }
blockquote.pull-right small::after, blockquote.pull-right .small::after { content: " —"; }
blockquote::before, blockquote::after { content: ""; }
.container::before, .container::after { content: " "; display: table; }
.container::after { clear: both; }
.row::before, .row::after { content: " "; display: table; }
.row::after { clear: both; }
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th { background-color: rgb(248, 248, 248); }
.form-control::-moz-placeholder { color: rgb(159, 170, 173); }
.form-horizontal .form-group::before, .form-horizontal .form-group::after { content: " "; display: table; }
.form-horizontal .form-group::after { clear: both; }
.btn-toolbar::before, .btn-toolbar::after { content: " "; display: table; }
.btn-toolbar::after { clear: both; }
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle), .btn-group > .island-button:not(:first-child):not(:last-child):not(.dropdown-toggle), .btn-group > .forgot-password-button:not(:first-child):not(:last-child):not(.dropdown-toggle) { border-radius: 0px; }
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle), .btn-group > .island-button:first-child:not(:last-child):not(.dropdown-toggle), .btn-group > .forgot-password-button:first-child:not(:last-child):not(.dropdown-toggle) { border-bottom-right-radius: 0px; border-top-right-radius: 0px; }
.btn-group > .btn:last-child:not(:first-child), .btn-group > .island-button:last-child:not(:first-child), .btn-group > .forgot-password-button:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) { border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn, .btn-group > .btn-group:not(:first-child):not(:last-child) > .island-button, .btn-group > .btn-group:not(:first-child):not(:last-child) > .forgot-password-button { border-radius: 0px; }
.btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after { content: " "; display: table; }
.btn-group-vertical > .btn-group::after { clear: both; }
.btn-group-vertical > .btn:not(:first-child):not(:last-child), .btn-group-vertical > .island-button:not(:first-child):not(:last-child), .btn-group-vertical > .forgot-password-button:not(:first-child):not(:last-child) { border-radius: 0px; }
.btn-group-vertical > .btn:first-child:not(:last-child), .btn-group-vertical > .island-button:first-child:not(:last-child), .btn-group-vertical > .forgot-password-button:first-child:not(:last-child) { border-top-right-radius: 4px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
.btn-group-vertical > .btn:last-child:not(:first-child), .btn-group-vertical > .island-button:last-child:not(:first-child), .btn-group-vertical > .forgot-password-button:last-child:not(:first-child) { border-bottom-left-radius: 4px; border-top-right-radius: 0px; border-top-left-radius: 0px; }
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn, .btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .island-button, .btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .forgot-password-button { border-radius: 0px; }
.nav { margin-bottom: 0px; padding-left: 0px; list-style: outside none none; }
.nav::before, .nav::after { content: " "; display: table; }
.nav::after { clear: both; }
.navbar::before, .navbar::after { content: " "; display: table; }
.navbar::after { clear: both; }
.navbar-header::before, .navbar-header::after { content: " "; display: table; }
.navbar-header::after { clear: both; }
.navbar-collapse::before, .navbar-collapse::after { content: " "; display: table; }
.navbar-collapse::after { clear: both; }
.panel { margin-bottom: 22px; background-color: white; border: 1px solid transparent; border-radius: 0px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05); }
.panel-body::before, .panel-body::after { content: " "; display: table; }
.panel-body::after { clear: both; }
.modal-footer::before, .modal-footer::after { content: " "; display: table; }
.modal-footer::after { clear: both; }
@media screen and (min-width: 768px) {
}
.box::before, .box .boxHead::before, .box .boxFoot::before, .list-vertical-divider::before, .list-vertical-divider-2::before, .box::after, .box .boxHead::after, .box .boxFoot::after, .list-vertical-divider::after, .list-vertical-divider-2::after { content: " "; display: table; }
.box::after, .box .boxHead::after, .box .boxFoot::after, .list-vertical-divider::after, .list-vertical-divider-2::after { clear: both; }
.footer-login, .page-wrap-login::after { display: table-cell; }
.footer-login::after, .page-wrap-login::after { clear: both; display: block; visibility: hidden; overflow: hidden; height: 0px !important; line-height: 0; font-size: xx-large; content: "x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x"; }
h1, .h1, h2, .h2, h3, .h3, h4, .h4 { font-weight: 400; text-transform: none; }
h1, .h1 { font-weight: 400; text-transform: uppercase; letter-spacing: 0.03em; }
h2, .h2 { font-weight: 400; color: rgb(93, 110, 115); }
a:hover { text-decoration: none; }
.table-standard > thead > tr > th::before, .table-standard > thead > tr > .th::before, .table-standard > .thead > .tr > th::before, .table-standard > .thead > .tr > .th::before { content: ""; height: 15px; width: 0px; display: block; float: left; margin-right: 10px; border-left: 1px solid rgb(248, 248, 248); }
.table-standard > thead > tr > th:first-child::before, .table-standard > thead > tr > .th:first-child::before, .table-standard > .thead > .tr > th:first-child::before, .table-standard > .thead > .tr > .th:first-child::before { content: ""; border-color: transparent; }
.table-hack .tbody .tr:nth-child(2n+1) { background-color: rgb(248, 248, 248); }
.panel { box-shadow: none; }
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 { margin: 0px; }
.box .boxHeadBranded::before { content: ""; display: block; background: rgb(0, 119, 109) url('p-logo.png') no-repeat scroll center center; height: 100%; min-width: 65px; position: absolute; top: 0px; left: 0px; }
.list-breadcrumb > li::before { font-size: 15px; content: ">"; padding-right: 5px; padding-left: 5px; }
.list-breadcrumb > li:first-child::before { content: ""; }
.list-steps > li::before { content: counter(list-steps, decimal-leading-zero); padding: 3px 7px; text-align: center; display: inline-block; border: 2px solid rgb(114, 181, 173); border-radius: 30px; }
.list-steps > li.current::before { border-color: rgb(2, 120, 110); }
* { box-sizing: border-box; }
html { background-color: white; }
html, body { padding: 0px; margin: 0px; height: 100%; font-size: 15px; }
.page-wrap-login::after { content: ""; display: block; }
.footer-login, .page-wrap-login::after { height: 46px; }
.headers .navbar-main .active::after { content: ""; display: block; position: absolute; left: 50%; margin-left: -27px; border-style: solid; border-width: 21px 28px 0px; border-color: rgb(52, 146, 138) transparent transparent; }
@media all and (max-width: 1200px) {
}
@media all and (max-width: 1200px) and (min-width: 768px) {
}
@media all and (max-width: 992px) and (min-width: 768px) {
}
@media all and (max-width: 990px) {
}
@media all and (max-width: 766px) {
}
.tab-highlight .nav > li.active > a::before { content: ""; display: block; border-style: solid; border-width: 27.5px 0px 27.5px 14px; border-color: transparent transparent transparent rgb(159, 170, 173); position: absolute; right: -14px; top: 50%; margin-top: -27.5px; }
:-moz-placeholder { font-weight: 200; }
*::-moz-placeholder { font-weight: 200; }
.has-success::before { content: ""; display: block; position: absolute; bottom: 0px; right: 0px; height: 40px; width: 40px; line-height: 40px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; background-color: rgb(116, 175, 126); color: rgb(248, 248, 248); font-family: FontAwesome; font-weight: normal; font-style: normal; text-decoration: inherit; text-align: center; }
.banner::before { content: ""; top: 2px; bottom: 2px; right: 2px; left: 2px; position: absolute; border: 1px dashed rgb(192, 112, 116); }
.health.editable:hover::before { content: ""; font-family: FontAwesome; color: rgb(73, 168, 213); position: absolute; top: 50%; left: 50%; cursor: pointer; z-index: 0; font-size: 12px; margin-top: -8px; margin-left: -5px; }
.health form::before { content: ""; height: 100%; width: 100%; position: absolute; border-radius: 300px; border: 7px solid rgb(212, 217, 218); transform: rotate(45deg); }
.health.health-indicator-large form::before { border-width: 12px; }
.health.running form::before { border-color: rgb(82, 173, 83); }
.health.stopped form::before { border-color: rgb(212, 217, 218); }
.health.stopped.editable:hover::before { content: ""; font-family: FontAwesome; font-size: 15px; margin-top: -11px; margin-left: -4px; }
.health.warning_0 form::before { border-color: rgb(185, 66, 66); }
.health.warning_25 form::before { border-top-color: rgb(185, 66, 66); }
.health.warning_50 form::before { border-top-color: rgb(185, 66, 66); border-right-color: rgb(185, 66, 66); }
.health.warning_75 form::before { border-color: rgb(185, 66, 66) rgb(185, 66, 66) rgb(185, 66, 66) rgb(212, 217, 218); }
.health-indicator-large.editable:hover::before { font-size: 20px; margin-top: -14px; margin-left: -8px; }
.health-indicator-large.stopped.editable:hover::before { font-size: 20px; margin-top: -14px; margin-left: -6px; }
body { background-color: rgb(248, 248, 248); }
.header { background-repeat: no-repeat; background-position: 50% 50%; height: 168px; background-size: contain; }
.header-image { background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; height: 125px; width: 280px; margin: auto; }
.content { min-height: 100%; height: auto !important; margin: 0px auto -40px; padding-top: 16px; }
.footer, .footer-spacer { height: 40px; }
.footer { text-align: center; color: rgb(159, 170, 173); font-size: 12px; }
h1 { font-size: 32px; font-weight: 300; line-height: 1em; text-transform: none; margin-top: 0px; margin-bottom: 16px; }
h2 { font-size: 24px; font-weight: 300; color: rgb(147, 147, 147); }
.island-landscape::before, .island-landscape::after { content: " "; display: table; }
.island-landscape::after { clear: both; }
:-moz-placeholder { font-weight: 400; }
*::-moz-placeholder { font-weight: 400; }
.fa-chevron-down { font-size: 10px; margin-top: 4px; position: absolute; right: 8px; top: 5px; }
.nav { position: relative; font-size: 12px; float: right; margin: 12px 18px 0px 0px; min-width: 120px; color: rgb(159, 170, 173); }
.dropdown-trigger { cursor: pointer; padding: 4px 24px 4px 8px; position: relative; }
.dropdown-content { position: absolute; top: 110%; list-style: outside none none; padding: 0px; display: none; }
.dropdown-content a { color: rgb(127, 127, 127); display: block; min-width: 120px; min-height: 18px; padding: 4px 8px; }
.dropdown-trigger:hover, .dropdown-content a:hover { background-color: rgb(224, 228, 229); color: rgb(67, 87, 92); }
.panel { background-color: white; width: 460px; padding: 40px; margin: 0px auto; text-align: center; }
.panel .panel-content { color: rgb(127, 127, 127); text-align: left; margin-top: 16px; }
.panel .panel-content h2 { color: rgb(67, 87, 92); }
.panel .panel-content p { margin-top: 10px; }
.profile span { display: inline-block; width: 60%; }
.profile a { display: inline-block; width: 40%; text-align: right; }
.alert p::before { font-family: FontAwesome; padding-right: 5px; font-size: 16px; }
.alert-success p::before { content: ""; }
.alert-error p::before { content: ""; }
h1 { color: rgb(66, 66, 66); }
.header { height: 125px; }
.panel-container { margin-top: 32px; }
.header-image { background-image: url('undefined'); }
